.dk-pull-right {
  float: right;
}

.dk-pull-left {
  float: left;
}

.dk-btn-block {
  display: block;
  width: 100%;
}

/// 文字方向
.dk-text-left{text-align: left;}
.dk-text-center{text-align: center;}
.dk-text-right{text-align: right;}